body{
    background-color: #24353F;
}

nav{
    background-color: #24353F !important;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1)
}

button{
    color:rgba(255,255,255,.5) !important;
}

.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1)
}

h1{
    color: #17a2b8;
}

.mainDiv{
    background-color: #24353F !important;
}

